.App { background-color: #6ecccf;
  color: rgb(151, 23, 23);
  padding: 40px;
  font-family: Arial;
  text-align: center;
  height:100vh;
  /*background-image: url(../public/Collage.jpg)*/
}

.Login {
   background-color: #1ff18f;
  color: rgb(23, 25, 151);
  padding: 40px;
  font-family: Arial;
  text-align: center;
  height:100vh;
  /*background-image: url(../public/Collage.jpg)*/
}

table{

  background-color: rgb(166, 200, 201)
}