.App { background-color: #1fc0f1;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #07e451;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
